<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Memory Hub</title>
    <link href="css/base.css" rel="stylesheet" type="text/css">
    <script data-main="js/init.js" src="js/require.js"></script>
  </head>

  <body>
    <section id="sec-users">
      <h1>Users</h1>
      <div id="users"></div>
      <div class="clear"></div>
    </section>

    <section id="sec-note">
    </section>

    <section id="sec-avatars">
      <h1>Avatars</h1>
      <div id="avatars"></div>
    </section>
  </body>
</html>
