body {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
  margin-bottom: 2em;
}

#sec-users {

}

#users {

}

.username {
  height: 120px;
  width: 120px;
  float: left;
  border: 2px solid #CCC;
  margin: 5px;
  border-radius: 8px;
  background: #EEE;
}

#sec-avatars {
  clear: left;
}

.avatar {
  float: left;
  margin: 17px;
}

.avatar img {
  height: 100px;
  width: 100px;
}

.username .avatar {
  float: none;
  margin: 0;
  position: auto;
}

.matched {
  border-color: #2C2;
}

.clear {
  clear: left;
}
